<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>语文</string>
		<key>list</key>
		<array>
			<string>你</string>
			<string>好</string>
			<string>吗</string>
			<string>我</string>
			<string>很</string>
			<string>好</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>数学</string>
		<key>list</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>英语</string>
		<key>list</key>
		<array>
			<string>one</string>
			<string>two</string>
			<string>three</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>物理</string>
		<key>list</key>
		<array>
			<string>牛顿</string>
			<string>法拉第</string>
			<string>爱因斯坦</string>
			<string>贝尔</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>化学</string>
		<key>list</key>
		<array>
			<string>氢</string>
			<string>氧</string>
			<string>钠</string>
			<string>镁</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>地理</string>
		<key>list</key>
		<array>
			<string>中国</string>
			<string>美国</string>
			<string>英国</string>
			<string>法国</string>
		</array>
	</dict>
</array>
</plist>
